<ion-view view-title="Registrering">
<div class="login-screen">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Bruger ID</span>
        <input type="number" placeholder="Indtast dit personlige ID nummer" ng-model="user.id">
      </label>
      <label class="item item-input">
        <span class="input-label">Dato</span>
        <input type="text" ng-model="user.date">
      </label>
      <br>
      <button class="button button-block button-calm" ng-click="login()">
          Log ind
      </button>
    </div>
  </ion-content>
</div>
</ion-view>
