<ion-view view-title="Tæller">
  <ion-content>
    <ion-list>
      <label class="item input">
        <span class="input-label">Tidspunkt</span>
        <input type="text" ng-model="kvarter | date : 'HH:mm'" ng-click="time()">
      </label>
      <ion-item class="item item-input" ng-repeat="category in categories">
        <div class="input-label">{{category.name}}</div>
        <input class="input-right" type="tel" ng-model="category.count">
      </ion-item>
      <br>
      <button class="button button-block button-balanced">Submit</button>
  </ion-content>
</ion-view>
