.input-right {
    text-align: right;
    font-size: 22px !important;
}

.info-buttons {
    float: right;
}

.time-button {
    color: #33cd5f !important;
    font-size: 22px !important;
}

.time-picker {
    width: 65%;
    text-align: right;
    padding-right: 35px;
    font-size: 22px;
    display: flex;

    .time-input {
        margin: auto 0;
    }
}

.input-label {
    max-width: 300px !important;
}

.task-info {
    text-align: center;
}