.login-screen {
    background-image: url("../img/Kobenhavns-Kommune-grey.png");
    background-repeat: no-repeat;
    background-position: 50% 85%;
    background-size: 60%;
    width: 100%;
    height: 100%;
}